
{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='player/style.css') }}">
{% endblock %}

{% block title %}Compare Player{% endblock %}

{% block heading %}
<h1>Head to Head</h1>
{% if ( player1 ) and ( player2 ) %}
<h3>{{ player1[1] }} {{ player1[2] }} VS {{ player2[1] }} {{ player2[2] }}</h3>
<span class="muted">Showing average stats for games where the two players played against each other</span>
{% else %}
<h3>Players not found</h3>
{% endif %}
{% endblock %}

{% block content %}
<table class="player-info table table-hover table-bordered">
    <thead>
    <tr>
        {% if ( player1 ) and ( player2 ) %}
        <th></th>
        <th scope="col" class="clickable" data-href="{{ url_for('player_stats', id=player1[0]) }}">
            {{ player1[1] }} {{ player1[2] }}
        </th>
        <th scope="col" class="clickable" data-href="{{ url_for('player_stats', id=player2[0]) }}">
            {{ player2[1] }} {{ player2[2] }}
        </th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% if ( player1 ) and ( player2 ) %}
    {% for column in headers %}
    {% if player1[loop.index0] is not none and player2[loop.index0] is not none and loop.index0 > 2 %}
    <tr>
        <th scope="row" class="stat-label">{{ column[0] }}</th>
        {% set player_data = player1[loop.index0] %}
        {% if player_data is number %}
        <td class="{{ 'better-stat' if player_data > player2[loop.index0] }}">
        {% else %}
        <td>
        {% endif %}
            {{ player_data }}
        </td>

        {% set player_data = player2[loop.index0] %}
        {% if player_data is number %}
        <td class="{{ 'better-stat' if player_data > player1[loop.index0] }}">
        {% else %}
        <td>
        {% endif %}
            {{ player_data }}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endif %}
    </tbody>
</table>
<script>
    $(document).ready(() => {
        $('.clickable').click(function() {
            window.location = $(this).data('href');
        });
    });
</script>
{% endblock %}
