.charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.chart-container {
    width: 500px;
    height: 300px;
}
.person-name {
    margin-bottom: 30px;
}
.person-info {
}