{% extends 'base.html' %}

{% block title -%}Game{%- endblock %}

{% block heading -%}
    <h1 class="text-center">
        <a href="{{ url_for('team', abbr=game[7]) }}">{{ game[0]|title }}</a> ({{ game[7] }})
        vs
        <a href="{{ url_for('team', abbr=game[8]) }}">{{ game[1]|title }}</a> ({{ game[8] }})
    </h1>
    <h2 class="text-center">{{ game[5] }} to {{ game[6] }}</h2>
{% endblock -%}

{% block content -%}
    <table class="table table-sm table-bordered table-hover table-striped">
        <tr>
            <th>Team</th>
            <th>Name</th>
            <th>Rec Yds</th>
            <th>Rec TD</th>
            <th>Pas Yds</th>
            <th>Pas TD</th>
            <th>Pas Int</th>
            <th>Pas Att</th>
            <th>Saf</th>
            <th>Takl</th>
            <th>Sack</th>
            <th>Ass Tkl</th>
            <th>Int</th>
            <th>Rush TD</th>
            <th>Rush Yds</th>
            <th>Rush Att</th>
        </tr>
        {% for stat in stats %}
        <tr>
            <td>{{ stat[0] }}</td>
            <td><a href="{{ url_for('player_stats', id=stat[1]) }}">{{ stat[2] }} {{ stat[3] }}</a></td>
            {% for n in range(4,18) %}
                <td>{{ stat[n]|default(0, true) }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{%- endblock %}