{% extends 'base.html' %}

{% block title -%}Game{%- endblock %}

{% block heading -%}
    <a href="{{ url_for('season') }}">Season List</a>
    <a href="{{ url_for('season', season=game[3]) }}">Season {{ game[3] }}</a>
    <a href="{{ url_for('season', season=game[3], week=game[4]) }}">Week {{ game[4] }}</a>
    <h1>{{ game[0]|title }} ({{ game[7] }}) vs {{ game[1]|title }} ({{ game[8] }})</h1>
    <h2>{{ game[5] }} to {{ game[6] }}</h2>
{% endblock -%}

{% block content -%}
    <table border="1">
        <tr>
            <th>Team</th>
            <th>Name</th>
            <th>Rec Yds</th>
            <th>Rec TD</th>
            <th>Pas Yds</th>
            <th>Pas TD</th>
            <th>Pas Int</th>
            <th>Pas Att</th>
            <th>Def Saf</th>
            <th>Def Tak</th>
            <th>Def Sak</th>
            <th>Def Ass</th>
            <th>Def Int</th>
            <th>Rus TD</th>
            <th>Rus Yds</th>
            <th>Rus Att</th>
        </tr>
        {% for stat in stats %}
        <tr>
            <td>{{ stat[0] }}</td>
            <td><a href="{{ url_for('player_stats', id=stat[1]) }}">{{ stat[2] }} {{ stat[3] }}</a></td>
            {% for n in range(4,18) %}
                <td>{{ stat[n]|default(0, true) }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{%- endblock %}